@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar while keeping scroll behaviour */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE / Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
